{% extends 'base.html' %}

{% block title %}
    Sign Up | Uniflow
{% endblock title %}

{% block main %}
<div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
	<div class="card max-w-[370px] w-full">
		<form method="post" class="card-body flex flex-col gap-5 p-10" novalidate="novalidate">
            {% csrf_token %}
			<div class="text-center mb-2.5">
				<h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">Sign up</h3>
				<div class="flex items-center justify-center">
					<span class="text-2sm text-gray-700 me-1.5">Already have an Account ?</span>
					<a class="text-2sm link" href="{% url 'login' %}">Sign In</a>
				</div>
			</div>
			<div class="grid grid-cols-2 gap-2.5">
				<a class="btn btn-light btn-sm justify-center" href="#">
					<img alt="" class="size-3.5 shrink-0" src="/static/media/google.svg">
					Use Google
				</a>
				<a class="btn btn-light btn-sm justify-center" href="#">
					<img alt="" class="size-3.5 shrink-0 dark:hidden" src="/static/media/apple-black.svg">
					Use Apple
				</a>
			</div>
			<div class="flex items-center gap-2">
				<span class="border-t border-gray-200 w-full"></span>
				<span class="text-2xs text-gray-600 uppercase">or</span>
				<span class="border-t border-gray-200 w-full"></span>
			</div>
            {{ form.errors }}
			<div class="flex flex-col gap-1">
				<label class="form-label text-gray-900">{{ form.email.label }}</label>
				<!-- <input class="input" name="user_email" placeholder="email@email.com" type="text" value=""> -->
                {{ form.email }}
                {{ form.email.errors }}
			</div>
            <div class="flex flex-col gap-1">
				<label class="form-label text-gray-900">{{ form.first_name.label }}</label>
				<!-- <input class="input" name="user_email" placeholder="email@email.com" type="text" value=""> -->
                {{ form.first_name }}
                {{ form.first_name.errors }}
			</div>
            <div class="flex flex-col gap-1">
				<label class="form-label text-gray-900">{{ form.first_name.label }}</label>
				<!-- <input class="input" name="user_email" placeholder="email@email.com" type="text" value=""> -->
                {{ form.last_name }}
                {{ form.last_name.errors }}
			</div>
			<div class="flex flex-col gap-1">
				<label class="form-label font-normal text-gray-900">Password</label>
				<div class="input" data-toggle-password="true">
					<!-- <input name="user_password" placeholder="Enter Password" type="password" value=""> -->
                    {{ form.password1 }}
					<button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
						<i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
						<i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
					</button>
				</div>
                {{ form.password1.errors }}
			</div>
			<div class="flex flex-col gap-1">
				<label class="form-label font-normal text-gray-900">Confirm Password</label>
				<div class="input" data-toggle-password="true">
					<!-- <input name="user_password" placeholder="Re-enter Password" type="password" value=""> -->
                    {{ form.password2 }}
					<button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
						<i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
						<i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
					</button>
				</div>
                {{ form.password2.errors }}
			</div>
			<label class="checkbox-group">
				<input class="checkbox checkbox-sm" name="check" type="checkbox" value="1">
				<span class="checkbox-label">
					I accept <a class="text-2sm link" href="#">Terms &amp; Conditions</a>
				</span>
			</label>
			<button class="btn btn-primary flex justify-center grow" type="submit">Sign up</button>
		</form>
	</div>
</div>
{% endblock main %}
    